.checkbox {
    display: none;
    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.25px;
        color: var(--color-task);
        cursor: pointer;
        &_through {
            text-decoration: line-through;
            color: var(--color-text-through);
        }
    }
    &__custom {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--background-task);
        border: 1px solid var(--color-border-check);
        margin-right: 24px;
        vertical-align: middle;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--background-task);
            width: 22px;
            height: 22px;
            border-radius: 50%;
        }
    }
    &:checked + &__label &__custom::before {
        width: 24px;
        height: 24px;
        content: url('../assets/img/check.svg');
        background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
}

.task:hover .checkbox__custom,
.checkbox:focus + .checkbox__label .checkbox__custom::before {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    border: none;
    transition: 2s ease-in-out;
}