@import "~normalize.css";

@import 'libs/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'JosefinSans', sans-serif;
    height: 100%;
}

@import './blocks/main';
@import './blocks/todo';
@import './blocks/heading';
@import './blocks/btn';
@import './blocks/new-todo';
@import './blocks/checkbox';
@import './blocks/tasks';

@import './base/media.scss';
